<!DOCTYPE html>
<html>
  <head>
  <title>YUSHI MENG CV</title>
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      margin-top: 3%;
      font-size: 10px;
      font-family: sans-serif;
      line-height: 150%;
      width: 595px;
    }
    
    a {
      color: #404040;
      font-size: 10px;
    }

    section {
      color: #404040;
      text-align: center;
    }

    div {
    }

    article {
      display: block;
      margin: 3%;
      text-align: left;
      border-bottom: 1px solid #bfbfbf;
    }
    
    p {
      font-size: 12px;
    }

    h1 {
      font-size: 20px;
      margin: 0 0 5px 0;
      color: black;
    }
    
    h2 {
      font-size: 16px;
      margin: 0 0 5px 0;
      color: black;
    }    
    
    .header {
      color: black;
      text-align: left;
    }
    
    
    i {
      font-size: 12px;
    }
    
    ul {
      margin-top: 5px;
      margin-bottom: 5px;
      padding-left: 30px;
    }
    
    table {
      width: 100%;
      font-size: 12px;
      margin-bottom: 5px; 
    }

    th {
      height: 50px;
    }
    
    .year_table td:first-child {
      font-weight: bold;
      width: 30%;
      text-align: left;
      vertical-align: top;
    }    
    
    .icon {
      display: inline-block;
      height: 10px;
      margin-right: 5px;
    }
    
    .title_img {
      position: absolute;
      top: 0px;
      width: 80px;
      height: 80px;
      background-image: url(<%= asset_path 'link.png' %>);
      background-size: cover;
    }
    
    .title_text {
      position: absolute;
      height: 70px;
      left: 100px;
      top: 10px;
      text-align: left;
    }
    
    .address {
      line-height: 70%;
    }    
    
    .title_links {
      position: absolute;
      top:0px;
      height: 80px;
      right: 2%;
      text-align: right;
      line-height: 25%;
    }
    
    .container {
      display: table;
      width: 100%;
    }

    .left-half {
      position: absolute;
      top:70px;
      left: 0%;
      width: 62%;
      border-right: 1px solid #bfbfbf;
    }

    .right-half {
      position: absolute;
      top:70px;
      right: 0%;
      width: 38%;
      
    }
    
  </style>
  </head>
  <body>
    <section class="header">
      <div class="title_img">
      </div>
      <div class="title_text">
        <h1>YUSHI MENG</h1>
        <div class="address">
          <p>+1 949-501-3688</p>
          <p>Irvine, CA, 92614</p>
        </div>
      </div>   
      <div class="title_links">
        <p><%= image_tag 'linkedin-square.png', :class => "icon" %><a href="https://www.linkedin.com/in/yushimeng/">https://www.linkedin.com/in/yushimeng/</a></p>  
        <p><%= image_tag 'github-square.png', :class => "icon" %><a href="https://github.com/mengyushi">https://github.com/mengyushi</a></p>
        <p><%= image_tag 'email.png', :class => "icon" %><a href="mailto: yushim2@uci.edu">yushim2@uci.edu</a></p>
        <!-- <p style="font-size: 10px;"><%= image_tag 'phone.png', :class => "icon" %>(+81)080-4573-0610</p> -->
      </div>
    </section>
    
    <section class="container">
      <div class="left-half">
        
        <article>
          <h2>Summary</h2>
          <p>An enthusiatic and proactive software engineer with experience in full-stack web application development, scripting and coding, product testing and deployment.</p>
        </article>
        
        <article>
          <h2>Education</h2>
          <table class="year_table">
            <tr>
              <td>2019.09 - Now</td>
              <td>
                <b>University of California, Irvine. </b> M.S. in Computer Science
              </td>
            </tr>
            <tr>
              <td>2016.09 - 2019.03</td>
              <td>
                <b>The University of Tokyo. </b> M.S. in Civil Engineering
              </td>
            </tr>
            <tr>
              <td>2012.08 - 2016.08</td>
              <td>
                <b>Technion – Israel Institute of Technology. </b> <br>B.S. in Civil and
Environmental Engineering
                </td>
            </tr>
          </table>      
        </article>         
        
        <article>
          <h2>Experience</h2>
          <table class="year_table" style="margin-bottom: 0px;">
            <tr>
              <td> 2018.09 - 2019.08 </td>
              <td> <b>Full-stack Development Intern</b> </td>
            </tr>
          </table>
          <p style="margin-top: 0px;">
            GameTrade.Inc., Tokyo. Trading platform for game items.
          </p>
          <p style="margin-top: 0px;">
            Ruby on Rails Web Application Developer. Using Ruby, HTML and JavaScript. 200 commits, 13,107 additions, 3,752 deletions 37 project deliveries.
          <p><b> Main Projects: </b></p>
          <ul style="list-style-type:square;">
            <li> Developed and maintained auto pricing system using convolutional neural network. Over 100,000 clicks after launching. </li>
            <li> Introduced Elastic Search to speed up searching process. Reducing single searching time by 50%. </li>
            <li> Contributed technical support to development of custom service team and administration team.</li>
          </ul>
        </article>

        <article style="border-bottom: 0px solid #bfbfbf;">
          <h2>Personal Projects</h2>

          <p style="margin-bottom: 6px;"><b>Roomies - Share House Bill Split</b></p>
          <p style="margin-top: 0px;"> A small app for renters who have to split apartment costs. Bills such as electricities and groceries can be equally splited for everyone. User can simply log bills paid for others to share, leave messages if have any question, and know who owns to whom in a simple way.</p>
          <ul style="list-style-type:square;">
            <li> Rapidly prototyped and deployed web app using Ruby on Rails.</li>
            <li> Built front‐end using Slim. </li>
            <li> Designed schema and developed database to store user data using MySQL. </li>
            <li> Open source on <a href="https://github.com/mengyushi/roommates">Github: https://github.com/mengyushi/roommates</a>.</li>
            <li> Configured continuous integration using <a href="https://room-ies.herokuapp.com/">Heroku: https://room-ies.herokuapp.com</a> to streamline build, test, and deployment.</li>
          </ul>
            
          <p style="margin-bottom: 6px;"><b> Concrete Cracking Pattern Recognization </b></p>
          <p style="margin-top: 0px;"> Image Classification. Telling the concrete in picture has cracks or not.</p>
          <ul style="list-style-type:square;">
            <li> Improving Deep Neural Networks using Hyperparameter tuning, Regularization and Optimization.</li>
            <li> Reached 95% accuracy in test set. </li>
            <li> Open source on <a href="https://github.com/mengyushi/concrete/">Github: https://github.com/mengyushi/concrete</a>.</li>
          </ul>
        </article>  
                              
      </div>
      <div class="right-half">
        <article>
          <h2>Skills</h2>
          <table>
            <tr>
              <td>Work <br>Experience</td>
              <td>
                <ul style="list-style-type:square;">
                  <li>Ruby on Rails</li>
                  <li>JavaScript HTML CSS</li>
                  <li>Elastic Search</li>
                  <li>Django</li>
                  <li>SQL</li>
                  <li>Git</li>
                </ul>
              </td>  
            </tr>
            <tr>
              <td>Research <br>Experience</td>
              <td>
                <ul style="list-style-type:square;">
                  <li>Fortran</li>
                  <li>C++</li>
                </ul>
              </td>  
            </tr>
            
            <tr>
              <td>Project <br>Experience</td>
              <td>
                <ul style="list-style-type:square;">
                  <li>Python</li>
                  <li>JAVA</li>
                </ul>
              </td>  
            </tr>        
          </table>  
        </article> 
        <article>
          <h2>Relevant Courses</h2>
          <ul style="list-style-type:square;">
            <li> Programming C </li>
            <li> Algorithm and Data Structure </li>
          </ul>
        </article> 
        <article>
          <h2>Coursera Specializations</h2>
          <ul style="list-style-type:square;">
            <li> <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/C2VFAD42WPHA">Java Programming and Software Engineering Fundamentals</a> </li>
            <li> <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/WNHM5ERXLTL7"> Deep Learning</a> </li>
            <li> <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/6TF3LPE2C4N2"> Python for Everybody</a> </li>
          </ul>
        </article>                  
        <article>
          <h2>Honors</h2>
          <table class="year_table">
            <tr>
              <td>2016 - 2018</td>
              <td><b>MEXT Scholarship </b> <br>16,600 US Dollar/Year from Japan Government.</td>
            </tr>
            <tr>
              <td>2012 - 2016</td>
              <td><b>International Student Scholarship </b> <br>8,500 US Dollar/Year from Technion.</td>
            </tr>
            <tr>
              <td>2012 Spring</td>
              <td><b>President List </b></td>
            </tr>
            <tr>
              <td>2014 Fall</td>
              <td><b>Dean List </b></td>
            </tr>
            <tr>
              <td>2013 Fall</td>
              <td><b>Dean List </b></td>
            </tr>
            <tr>
              <td>2014 Summer</td>
              <td><b>Israel National Concrete Canoe Competition</b> <br> First Place</td>
            </tr>
            
          </table>      
        </article>         
        <article style="border-bottom: 0px solid #bfbfbf;">
          <h2>Publication</h2>
          <p> Concrete fracture discrete modelling simulation using Fortran and C++ 
          
            <br>Y. MENG, P. JIRADILOK, K. MATSUMOTO, K. NAGAI AND S. ASAMOTO (2019). <a href="https://framcos.org/FraMCoS-10/Full-Papers/232856.pdf"><br> FRACTURE SIMULATION OF CONCRETE WITH ASR AND DEF EXPANSIONS BY RBSM</a>, 
            <i>Proc. 10th International Conference on Fracture Mechanics of Concrete and Concrete Structures, Mini Symposium 4: Discrete modelling, in Bayonne, France.
            </i></p>
        </article>              
      </div>
    </section>
  </body>
</html>
